<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productListing">
      <h2 data-cy="productListingDetailsHeading"><span>Product Listing</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ productListing.id }}</span>
        </dd>
        <dt><span>Product Name</span></dt>
        <dd>
          <span>{{ productListing.productName }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ productListing.quantity }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ productListing.price }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/product-listing', productListing.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
